<!-- *ngIf="userInfo.customerTypeId != 7" -->
<div class="container">
    <ul class="nav nav-pills nav-justified">

        <li class="nav-item">
            <a class="nav-link" routerLink="/ramadan/dashboard" routerLinkActive="active">
                <span>
                    <i class="nav-icon bi bi-speedometer2"></i> 
                    <span class="nav-text">{{'DASHBOARD' | translate}}</span>
                </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/ramadan/subscribers-list" routerLinkActive="active">
                <span>
                    <i class="nav-icon bi bi-person-lines-fill"></i> 
                    <span class="nav-text">{{'Subscribers' | translate}}</span>
                </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/ramadan/program" routerLinkActive="active">
                <span>
                    <i class="nav-icon bi bi-calendar-check"></i> 
                    <span class="nav-text">{{'Program' | translate}}</span>
                </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/profile" routerLinkActive="active">
                <span>
                    <i class="nav-icon bi bi-person-circle"></i> 
                    <span class="nav-text">{{'Profile' | translate}}</span>
                </span>
            </a>
        </li>
        
    </ul>
</div>
