<app-sidebar class="sidebar-wrap  sidebar-pushcontent"></app-sidebar>

<main #mainPage>
    <app-headermenu class="header position-fixed" #HeaderEl></app-headermenu>
    <div class="main-container container">
      <div class="row">

      
      <!-- Category Cards -->
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row mb-1">
          <div class="col-12 col-md-6 col-lg-12" *ngFor="let program of programList">
            <div class="card mb-3">
              <div class="card-body" (click)="programSubscription(program)">
                <div class="row">
                  <div class="col-auto">
                    <div class="d-flex align-items-center">
                      <!-- Enroll Icon (Visible if not enrolled) -->
                      <div *ngIf="program.entrolled" class="avatar avatar-44 shadow-sm rounded-10 bg-success text-white d-flex align-items-center justify-content-center me-2">
                        <i class="bi bi-check-circle-fill"></i>
                      </div>
                    
                      <!-- Cancel Icon (Visible if enrolled) -->
                      <div *ngIf="!program.entrolled" class="avatar avatar-44 shadow-sm rounded-10 bg-danger text-white d-flex align-items-center justify-content-center">
                        <i class="bi bi-x-circle-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col align-self-center ps-0">
                    <p class="mb-0 size-12"><span class="text-color-theme fw-medium">{{ program.name }}</span></p>
                    <p>From  : {{ program.start_date }} -  To : {{program.end_date}} <br />
                      Contact : {{ program.contact_number }} <br />
                      Details : {{program.description}}</p>
                    <p></p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      
       <!-- Ad End-->
      
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row mb-3">
            <div class="col text-center px-1" routerLink="/budget/expenses">
              <div class="card mx-0 fixed-width">
                <span>
                  <i class="nav-icon bi bi-cash-coin icon-20 expenses-icon" data-bs-toggle="tooltip" title="{{ 'EXPENSES' | translate }}"></i>
                </span>
              </div>
            </div>
          
            <div class="col text-center px-1" routerLink="/budget/income">
              <div class="card mx-0 fixed-width">
                <span>
                  <i class="nav-icon bi bi-wallet icon-20 income-icon" data-bs-toggle="tooltip" title="{{ 'INCOME' | translate }}"></i>
                </span>
              </div>
            </div>
          
            <div class="col text-center px-1" routerLink="/members">
              <div class="card mx-0 fixed-width">
                <span>
                  <i class="nav-icon bi bi-people-fill icon-20 members-icon" data-bs-toggle="tooltip" title="{{ 'MEMBERS' | translate }}"></i>
                </span>
              </div>
            </div>
          
            <div class="col text-center px-1" routerLink="/events">
              <div class="card mx-0 fixed-width">
                <span>
                  <i class="nav-icon bi bi-calendar2-event icon-20 events-icon" data-bs-toggle="tooltip" title="{{ 'EVENTS' | translate }}"></i>
                </span>
              </div>
            </div>
          
            <div class="col text-center px-1" routerLink="/cards">
              <div class="card mx-0 fixed-width">
                <span>
                  <i class="nav-icon bi bi-wallet2 icon-20 cards-icon" data-bs-toggle="tooltip" title="{{ 'CARDS' | translate }}"></i>
                </span>
              </div>
            </div>
          
            <div class="col text-center px-1" routerLink="/profile">
              <div class="card mx-0 fixed-width">
                <span>
                  <i class="nav-icon bi bi-person icon-20 profile-icon" data-bs-toggle="tooltip" title="{{ 'PROFILE' | translate }}"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-sm-12 col-md-12 col-lg-12" *ngIf="!!statisticsData">
          <div class="card mb-4">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="d-none d-sm-block col-auto">
                  <h6 class="mb-1">{{'Select Date Range' | translate}}</h6>
                </div>
                <div class="col">
                  <input type="text" id="rangeCalendarCenter" class="form-control" style="box-shadow: none; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;" readonly ngxDaterangepickerBootstrap [(ngModel)]="selectedRangeCalendarCenter" [drops]="dropsDown" [opens]="opensCenter" [locale]="locale" [ranges]="ranges" [showCustomRangeLabel]="true" [showCancel]="true" [linkedCalendars]="true" [alwaysShowCalendars]="false" [showRangeLabelOnInput]="false" [keepCalendarOpeningWithRange]="false" [isTooltipDate]="isTooltipDate" (datesUpdated)="datesUpdatedRange($event)" aria-describedby="rangeCalendarCenterDesc" [isInvalidDate]="isInvalidDate" [isCustomDate]="isCustomDate" />
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Balance Card -->
        <div class="col-12 col-md-6 col-lg-3" *ngIf="!!statisticsData?.balance">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-auto">
                  <div class="avatar avatar-44 shadow-sm rounded-10 bg-danger text-white">
                    <i class="bi bi-phone vm"></i>
                  </div>
                </div>
                <div class="col align-self-center ps-0">
                  <p class="mb-0 size-12"><span class="text-color-theme fw-medium">{{'BALANCE' | translate}}</span></p>
                  <p>{{ statisticsData?.balance ? (statisticsData?.balance | currency) : 0 | currency }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Income Card -->
        <div class="col-12 col-md-6 col-lg-3" *ngIf="!!statisticsData?.incomeTotal">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-auto">
                  <div class="avatar avatar-44 shadow-sm rounded-10 bg-info text-white">
                    <i class="bi bi-moisture vm"></i>
                  </div>
                </div>
                <div class="col align-self-center ps-0">
                  <p class="mb-0 size-12"><span class="text-color-theme fw-medium">{{'INCOME' | translate}}</span></p>
                  <p>{{ statisticsData?.incomeTotal ? (statisticsData?.incomeTotal | currency) : 0 | currency }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Expenses Card -->
        <div class="col-12 col-md-6 col-lg-3" *ngIf="!!statisticsData?.expenseTotal">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-auto">
                  <div class="avatar avatar-44 shadow-sm rounded-10 bg-danger text-white">
                    <i class="bi bi-phone vm"></i>
                  </div>
                </div>
                <div class="col align-self-center ps-0">
                  <p class="mb-0 size-12"><span class="text-color-theme fw-medium">{{'EXPENSES' | translate}}</span></p>
                  <p>{{ statisticsData?.expenseTotal ? (statisticsData?.expenseTotal | currency) : 0 | currency }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Savings Card -->
        <div class="col-12 col-md-6 col-lg-3" *ngIf="!!statisticsData?.expenditureTotal">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-auto">
                  <div class="avatar avatar-44 shadow-sm rounded-10 bg-info text-white">
                    <i class="bi bi-moisture vm"></i>
                  </div>
                </div>
                <div class="col align-self-center ps-0">
                  <p class="mb-0 size-12"><span class="text-color-theme fw-medium">{{'SAVINGS' | translate}}</span></p>
                  <p>{{ statisticsData?.expenditureTotal ? (statisticsData?.expenditureTotal | currency) : 0 | currency }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Bar Chart -->
        <div class="col-12 col-sm-6 col-md-6 col-lg-6" *ngIf="expenseData && expenseData.length > 0">
          <div class="card mb-4">
            <div class="card-body px-2" >
              <app-vertical-bar-chart [expenseData]="expenseData"></app-vertical-bar-chart>
            </div>
          </div>
        </div>
  
        <!-- Pie Chart -->
        <div class="col-12 col-sm-6 col-md-6 col-lg-6" *ngIf="!!statisticsData?.categories">
          <div class="card mb-4">
            <div class="card-body px-2" >
              <app-pie-chart [chartData]="statisticsData?.categories"></app-pie-chart>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Category Cards -->
      <div class="row mb-1" *ngIf="!!statisticsData?.categories">
        <div class="col-12 col-md-6 col-lg-3" *ngFor="let category of statisticsData?.categories">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-auto">
                  <div class="avatar avatar-44 shadow-sm rounded-10 bg-danger text-white">
                    <img *ngIf="category.category_image" [src]="categoryImagePath + category.category_image" [alt]="category.expense_name" />
                  </div>
                </div>
                <div class="col align-self-center ps-0">
                  <p class="mb-0 size-12"><span class="text-color-theme fw-medium">{{ category.category_name }}</span></p>
                  <p>{{ category.total | currency }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  

      <!-- Ad Start-->
      <div class="col-12 col-sm-12 col-md-12 col-lg-12" *ngIf="showAds" >
        <div class="row mb-1">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3364764390236729"
            crossorigin="anonymous"></script>
            <ins #adsContainer class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-3364764390236729"
            data-ad-slot="5687580563"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
      </div>

      <div class="clearfix"></div>

    </div>
  </main>
  

<app-staticfooter class="footer" #FooterEl></app-staticfooter>